@page "/fetchperson"

@using szkchm_azdev_t3_frontend2.Data
@inject PersonService PersonService

<h1>Person</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (persons == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in persons)
            {
                <tr>
                    <td>@person.Id</td>
                    <td>@person.FirstName</td>
                    <td>@person.LastName</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Person[] persons;

    protected override async Task OnInitializedAsync()
    {
        persons = await PersonService.GetPersonAsync(1);
    }
}
